# Root files
/*.md                @squaredup/community-moderators
/LICENSE             @squaredup/community-moderators
/.github/*           @squaredup/community-moderators

# Fallback – if a plugin has no specified author
plugins/* @squaredup/community-moderators

# Request review from original author
plugins/AutoTask/*  @TimWheeler-SQUP
plugins/DattoRMM/*  @TimWheeler-SQUP
plugins/DigiCert/*  @shaswot77
plugins/Huntress/*  @Deenk
plugins/IncidentIO/*  @noorulkhan-n
plugins/FantasyPremierLeague/*  @TimWheeler-SQUP
plugins/GoogleSheets/*  @kieranlangton
plugins/MetOffice/*  @blackgrouse
plugins/Phare/*  @vinbab
plugins/Postcoder/*  @richbenwell
plugins/RDAP/*  @richbenwell
plugins/RSS/*  @clarkd
plugins/Rootly/*  @noorulkhan-n
plugins/SendGrid/*  @richbenwell
plugins/Spotify/*  @jame2O
plugins/Steam/*  @kmichalski0
plugins/SumoLogic/*  @richpeters
plugins/TransportForLondon/*  @clarkd
plugins/UniFi/*  @adamkinniburgh
plugins/UptimeRobot/*  @kieranlangton
plugins/WorldCup2026/*  @TimWheeler-SQUP
plugins/Notion/*  @clarkd
plugins/Algolia/* @andrewmumblebee
plugins/Vercel/* @andrewmumblebee


