# Root files
/*.md                @squaredup/community-moderators
/LICENSE             @squaredup/community-moderators
/.github/*           @squaredup/community-moderators

# Request review from original author
plugins/DigiCert/*  @shaswot77
plugins/FantasyPremierLeague/*  @TimWheeler-SQUP
plugins/GoogleSheets/*  @kieranlangton
plugins/MetOffice/*  @blackgrouse
plugins/Phare/*  @vinbab
plugins/Postcoder/*  @richbenwell
plugins/RDAP/*  @richbenwell
plugins/RSS/*  @clarkd
plugins/Rootly/*  @noorulkhan-n
plugins/Spotify/*  @jame2O
plugins/Steam/*  @kmichalski0
plugins/SumoLogic/*  @richpeters
plugins/TransportForLondon/*  @clarkd


# Fallback – if a plugin has no specified author
plugins/* @squaredup/community-moderators
